.editProject__breadcrumb {
    /* display: none; */
    height: 48px;
    border-bottom: 1px solid #e2e8f0;
    width: 100%;
    position: sticky;
    top: 80px;
    z-index: 1;
    background-color: #fff;
  }
  
  .editProject {
    background-color:  #F1F5F9;
  }

  .editProject__cnt {
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 1024px) {
    .editProject__breadcrumb {
      display: unset;
      height: 48px;
      display: flex;
      align-items: center;
    }
  }
  