.teamDetail {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  min-height: 100px;
  background-color: #F1F5F9;
  min-height: calc(100vh - 80px);
}

.teamDetail__breadcrumb {
  /* display: none; */
  height: 48px;
  border-bottom: 1px solid #E2E8F0;
  width: 100%;
  position: sticky;
  top: 80px;
  z-index: 1;
  background-color: #fff;

}


.teamDetail__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.teamDetail__Container__details {
  min-height: 100px;
}

.teamDetail__container__contact {
  box-shadow: 0px 4px 4px 0px #0f172a0a;
  background: #fff;
}

.teamDetail__container__funding {
  min-height: 20px;
}

.teamDetail__container__member {
  min-height: 100px;
}

.teamDetail__container__projects {
  min-height: 100px;
}

.teamDetail__irlContributions {
  box-shadow: 0px 4px 4px 0px #0f172a0a;
  background: #fff;
  min-height: 20px;
  padding: 20px;
}

@media (min-width: 1024px) {
  .teamDetail {
    align-items: center;
  }

  .teamDetail__container {
    width: 900px;
    padding-top: 38px;
  }

  .teamDetail__breadcrumb {
    display: unset;
    height: 48px;
    display: flex;
    align-items: center;
    z-index: 3;
  }


  .teamDetail__container__contact {
    border-radius: 8px;
  }

}