.privacy {
  position: relative;
  background: white;
}

.privacy__backbtn {
  position: sticky;
  top: 80px;
  width: 100%;
  height:48px;
  z-index: 3;
}
.privacy__breadcrumbs {
  display: flex;
  position: sticky;
  top: 80px;
  padding: 0 16px;
  width: 100%;
  background: white;
  z-index: 3;
  border: none;
}

.privacy__breadcrumbs__desktop {
  display: none;
}

.privacy__breadcrumbs__mobile {
  display: flex;
  padding: 0 16px;
  padding-top: 16px;
  gap: 6px;
  color: #156FF7;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 8px;
}
.privacy__main {
  display: flex;
  height: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.privacy__main__aside {
  width: 300px;
  height: 100%;
  display: none;
  position: sticky;
  top: 128px;
}

.privacy__main__aside__menu {
}

.privacy__main__content {
  width: 100%;
}

@media (min-width: 1024px) {
  .privacy {
    padding-top: 0px;
  }
  .privacy__backbtn {
    display: none;
  }
  .privacy__main__aside {
    display: block;
  }
  .privacy__main__content {
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .privacy__breadcrumbs {
    border-bottom: 1px solid #e2e8f0;
  }
  .privacy__breadcrumbs__desktop {
    display: block;
  }
  .privacy__breadcrumbs__mobile {
    display: none;
  }
}
