:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
/* .bioCn__content p {
  padding-bottom: 10px;
}

.bio__body__content p {
  padding-bottom: 10px;
}

.bioCn__content p:last-child {
  display: inline;
  padding-bottom: unset;
}

.bio__body__content p:last-child {
  display: inline;
  padding-bottom: unset;
} */

 button {
  cursor: pointer;
 }

 .layout {
  height: 100dvh;
  position: relative;
  background-color:  #F1F5F9;
 }

html,
body {
  max-width: 100vw;
  min-height: 100dvh;
  height: 100dvh;
  overflow-x: hidden;
}

.layout__header {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

.layout__main {
  min-height: calc(100vh - 80px);
}

.toast__body {
  font-size: 14px;
}

.toast_progress {
  background-color: #30c593;
}

.toast__toaster {
  border-radius: 8px;
  background-color: #1e293b;
}

.toast__class {
  margin-top: 60px;
}

textarea {
  font-family:inherit;
}

body {
  overflow-y: auto;
}

body:has(dialog[open]) {
  overflow: hidden !important; /* Disable scrolling when dialog is open */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: unset;
}

::backdrop {
  background: black;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

::placeholder {
  color: #aab0b8;
}

dialog {
  outline: none;
}

.med__text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 14px !important;
    line-height: 24px;
    color: #475569;
  }
}

.all-member-container dialog {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {

}


.list {
  height: 4000px;
}
@media (prefers-color-scheme: dark) {
  
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke;
  border-radius: 23px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 23px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}


#md-editor-rt-preview {
  word-break: break-word;
  
}

.about__content a, .desc__content a,.bioCn__content a {
  text-decoration: underline;
  color: blue;
}

.about__content ul, .desc__content ul,.bioCn__content ul{
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.about__content ol, .desc__content ol,.bioCn__content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.tox .tox-dialog {
  z-index:  40000 !important;
}

.tox.tox-tinymce-aux {
  z-index: 4000;
}