.changelog {
  display: flex;
  justify-content: center;
  background: #fff;
}

.changelogList {
  display: flex;
  width: 800px;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1024px) {
  .changelog {
    display: flex;
    justify-content: center;
    background: transparent;
  }
}
