.irlGatherings__cn {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
}

.irlGatherings {
  background-color: #f1f5f9;
}

.irlGatheings__locations {
  height: 177px;
  border-radius: 16px;
  padding: 16px;
  gap: 16px;
}

.irlGatherings__events {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  margin-top: 20px;
}

@media (min-width: 360px) {
  .irlGatheings__locations {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: unset;
    background-color: #E4EDF7;
    height: 122px;
    padding: 10px;
    border-radius: unset;
    /* margin-right: 13px; */
    max-width: 782px;
  }

  .irlGatherings__events {
    border-radius: unset;
    margin: none;
  }
}

@media (min-width: 1024px) {
  .irlGatherings {
    width: 900px;
    margin: auto;
  }

  .irlGatheings__locations {
    border-radius: 16px;
    height: 173px;
    border: 1px solid #cbd5e1;
    border-radius: 16px;
    gap: 16px;
    overflow: unset;
    position: relative;
    background-color: unset;
    max-width: 900px;
  }

  .irlGatherings__events {
    overflow-x: unset;
    border-radius: 16px;
  }
  
  .irlGatheings__guests {
    padding-top: 32px;
  }
}


@media (min-width: 1440px) {
  .irlGatherings {
    width: 1244px;
  }

  .irlGatheings__locations {
    max-width: 1244px;
  }
}

@media (min-width: 1920px) {
  .irlGatherings {
    width: 1678px;
  }

  .irlGatheings__locations {
    max-width: 1678px;
  }
}

@media (min-width: 2560px) {
  .irlGatherings {
    width: 2240px;
  }

  .irlGatheings__locations {
    max-width: 2240px;
  }
}
